<%- include ('./partials/header.ejs') %>
  
  <div class="error-page">
    <h1>404 Error</h1>
    <p>The page that you're trying to navigate doesn't exist</p>

    <a href="/">Return home</a>
  </div>

<%- include ('./partials/footer.ejs') %> 