<%- include('./partials/header.ejs') %>

<main class="about-page">
  <div class="about-text">
    <h1>History</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum doloribus facere libero expedita dolore,
      rerum sequi, molestias assumenda illo pariatur iste voluptate dignissimos atque quo. Tenetur magnam corporis quo
      soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi commodi ex eos facilis dignissimos
      ab neque corporis necessitatibus sint saepe nobis id, at eveniet molestias doloremque doloribus dolore. Nam?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia suscipit dolor blanditiis sunt, assumenda, fugit
      molestias porro deserunt aspernatur culpa maxime. Laborum omnis incidunt nisi alias iure illo fuga reprehenderit
      pariatur soluta? Laudantium consectetur quaerat incidunt dicta, nostrum asperiores repellat?
    </p>
    <h1>Our mission</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quas totam ut adipisci possimus aliquam
      excepturi corrupti ex maxime sed. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero itaque aut
      fugiat a, deserunt temporibus ipsum, quod cupiditate harum dolorum accusantium praesentium deleniti corporis?
      Libero error, dolor quae, laborum, explicabo quod facilis fugit quasi architecto sit sunt magnam quam? Sed velit
      culpa dolorem obcaecati laudantium sapiente aperiam alias molestiae ullam?</p>
  </div>
  <img src="https://www.caraotadigital.net/wp-content/uploads/2019/09/gym-1.jpg" alt="">
</main>

<%- include('./partials/footer.ejs') %> 