<%- include('./partials/header.ejs') %> 
  <div class="contact-success">
    <h1>Thanks for your message!</h1>
    <p>We'll review it very soon, thanks for your feedback!</p>
    <a href="/">Back to Home</a>
  </div>
<%- include('./partials/footer.ejs') %> 