<%- include('./partials/header.ejs') %> 
<main class="gallery-page">
  <div class="card-gallery">
    <img
      src="https://images.pexels.com/photos/685530/pexels-photo-685530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="card-gallery">
    <img
      src="https://images.pexels.com/photos/685530/pexels-photo-685530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="card-gallery">
    <img
      src="https://images.pexels.com/photos/685530/pexels-photo-685530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="card-gallery">
    <img
      src="https://images.pexels.com/photos/685530/pexels-photo-685530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="card-gallery">
    <img
      src="https://images.pexels.com/photos/685530/pexels-photo-685530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="card-gallery">
    <img
      src="https://images.pexels.com/photos/685530/pexels-photo-685530.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt="">
    <h1>Lorem</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</main>
<%- include('./partials/footer.ejs') %> 