<%- include ('./partials/header.ejs') %>
<main class="main-page">
  <div class="img"></div>
  <div class="welcome">
    <h1>Monster GYM</h1>
    <p class="subtitle-welcome">Your GYM of trust</p>
    <a class="register-button" href="/register">Join now!!</a>
    <p>Already have an acoount? <a href="/login">Login here</a></p>
    <div class="icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-whatsapp"></i>
    </div>
  </div>
</main>

<%- include ('./partials/footer.ejs') %> 