<%- include('./partials/header.ejs') %> 
<main class="pricing-page">
  <div class="card">
    <div class="card-header">
      <h1>1 month</h1>
    </div>
    <div class="card-content">
      <ul>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>
          <h3>$20</h3>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button>Start now!</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h1>6 months</h1>
    </div>
    <div class="card-content">
      <ul>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>
          <h3>$100</h3>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button>Start now!</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h1>1 year</h1>
    </div>
    <div class="card-content">
      <ul>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>Lorem ipsum</li>
        <li>
          <h3>$200</h3>
        </li>
      </ul>
    </div>
    <div class="card-footer">
      <button>Start now!</button>
    </div>
  </div>
</main>
<%- include('./partials/footer.ejs') %> 